services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    depends_on:
      database:
        condition: service_healthy

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    env_file:
      - ./backend/.env
    depends_on:
      database:
        condition: service_healthy
  
  gateway:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - frontend
      - database
      - backend

  database:
    image: postgres:17
    restart: always
    environment:
      POSTGRES_DB: conduitedeprojet_db
    volumes:
      - dbdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d conduitedeprojet_db"]
      interval: 1s
      timeout: 5s
      retries: 10

volumes:
  dbdata:
